<div class="container-fluid d-none d-sm-none d-md-none d-md-block">
    <div class="container">
        <div class="row">
            <div class="col">
                <ul class="nav nav-pills nav-fill">
                    <li class="nav-item">
                        <a class="nav-link " href="#">Alugueis de Carros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link bg-dark " href="#">Movida Frotas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link bg-purple " href="#">Seminovos Movida</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Movida ZeroKM</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<header>
    <div class="container-fluid">
        <div class="container">
            <nav class="navbar navbar-expand-lg">
                <span class="toggler-icon" id="dropdown-menu" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <img src="../../../assets/img/Grupo18339.svg" alt="Movida Logo">
                </span>
                <div class="dropdown-menu" aria-labelledby="dropdown-menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
                <a class="navbar-brand" href="#">
                    <img src="../../../assets/img/LogoZeroKm.svg" alt="Movida Logo">
                </a>
                <div class="collapse navbar-collapse justify-content-end">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="fa fa-map-marker"></i>
                                <span> NOSSAS LOJAS</span>
                            </a>
                        </li>
                        <li class="nav-link share"></li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="fa fa-user-circle-o"></i>
                                <span> FERNANDO <i class="fa fa-angle-down"></i></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>