.breadcrumb {
    background-color: transparent !important;
    text-align: left;
    font: normal normal normal 12px/14px Roboto;
    letter-spacing: 0px;
    opacity: 1;
    font-size: 14px;
}

.breadcrumb-item a {
    color: #999999;
}

.breadcrumb-item.active a {
    color: #F97D00;
}

/* sidebar */

.details .sidebar .card-header {
    height: 44px;
    background: #1D1C19 0% 0% no-repeat padding-box;
    border-radius: 5px 5px 0px 0px;
    opacity: 1;
}

.details .sidebar .card .card-header h5{
    height: 21px;
    text-align: center;
    font: normal normal bold 18px/21px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    width: inherit;
}

.details .sidebar .card .card-header .nav .nav-item .nav-link.active{
    color: #F97D00;
    text-decoration: underline;
    margin-top: -9px;
}

.details .title-page {
    text-align: left;
    font: normal normal medium 28px/33px Roboto;
    letter-spacing: 0px;
    color: #1D1C19;
    opacity: 1;
    font-size: 28px;
}

.details .subtitle-page {
    text-align: left;
    font: normal normal 300 17px/20px Roboto;
    letter-spacing: 0px;
    color: #58595B;
    opacity: 1;
    font-size: 17px;
}

.details .sidebar .card-body form label {
    font-size: 14px;
}

.details .sidebar .card-body form .input-group-text {
    display: flex;
    align-items: center;
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: transparent !important;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.details .sidebar .card-body form .end-plates  {
    width: -webkit-fill-available;
}
.details .sidebar .card-body form .end-plates button {
    font-size: 12px;
    width: 47px;
    height: 48px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #F97D00;
    border-radius: 5px;
    opacity: 1;
    margin-left: 4%;
}


.details .sidebar .card-body form .custom-control.custom-radio input {
    width: 35px;
    height: 51px;
    opacity: 1;
}

.details .sidebar .card-body form .custom-control.custom-radio  {
    font-size: 12px;
    width: 47px;
    height: 48px;
    border-radius: 5px;
    opacity: 1;
}

.details .sidebar .card-body form .custom-control.custom-radio .custom-control-label::before  {
    width: 40px;
    height: 40px;
    background-color:transparent;
}

.details .sidebar .card-body form .custom-control.custom-radio input[type='radio']:after {
    width: 41px;
    height: 47px;
    border-radius: 30px;
    top: 0px;
    left: -1px;
    position: relative;
    background-color: #0d0e0d;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

.details .sidebar .card-body form .custom-control.custom-radio input[type='radio']:checked:after {
    width: 41px;
    height: 47px;
    border-radius: 30px;
    top: 0px;
    left: -1px;
    position: relative;
    background-color: #a00000;
    content: '';
    display: inline-block;
    visibility: visible;
}

.details .sidebar .card-body form  .cor-select {
    text-align: left;
    font: normal normal 300 12px/14px Roboto;
    letter-spacing: 0px;
    color: #58595B;
    opacity: 1;
    font-size: 12px;
}

.details .sidebar .card-body form .term{
    text-align: left;
    letter-spacing: 0px;
    color: #58595B;
    opacity: 1;
    font-size: 14px;
}

.details .sidebar .card-body form .value p{
    text-align: left;
    font: normal normal medium 14px/16px Roboto;
    letter-spacing: 0px;
    color: #58595B;
    opacity: 1;
}
.details .sidebar .card-body form .value .text-center{
    text-align: right;
    font: normal normal bold 32px/36px Roboto;
    letter-spacing: 0px;
    color: #1D1C19;
    font-size: 32px;
}


.details .sidebar .card-body form .value .text-start{
    text-align: right;
    font: normal normal bold 18px/36px Roboto;
    letter-spacing: 0px;
    color: #1D1C19;
    font-size: 18px;
}

.details .sidebar .card-body form .value .text-end{
    text-align: right;
    font: normal normal normal 18px/36px Roboto;
    letter-spacing: 0px;
    color: #1D1C19;
    font-size: 18px;
}



.details .sidebar .card-footer {
    background: #DDDDDD 0% 0% no-repeat padding-box;
    border-radius: 0px 0px 3px 3px;
    opacity: 1;
}

.details .sidebar .card-footer p {
    width: auto;
    height: 43px;
    text-align: left;
    letter-spacing: 0px;
    opacity: 1;
    font-size: 12px;
}

.details .sidebar .card-footer p a {
    text-align: left;
    text-decoration: underline;
    font: normal normal bold 12px/14px Roboto;
    letter-spacing: 0px;
    color: #F97D00;
}

.details .sidebar .card-footer img {
    width: 43px;
    height: 43px;
    opacity: 1;
}


/* slider */


.details .slider .carousel-control-prev{
    top: 108px;
    width: 24px;
    height: 36px;
    background:  url('/assets/Grupo 18555.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.details .slider .carousel-control-next{
    top: 108px;
    width: 24px;
    height: 36px;
    background:  url('/assets/Grupo 18556.svg') 0% 0% no-repeat padding-box;
}

.details .slider span{
    width: 113px;
    height: 14px;
    text-align: left;
    font: normal normal normal 12px/24px Roboto;
    letter-spacing: 0px;
    color: #999999;
    opacity: 1;
    margin-bottom: 5%;
}

.details .slider .img-thumbnail {
    position: relative;
    width: 105px;
    height: 79px;
}

.details .slider .img-thumbnail.active {
    border: 1px solid #F97D00;
    opacity: 1;
}

.details .slider picture{
    width: 105px;
    height: 79px;
}

.details .slider picture img{
    width: 76px;
    height: 57px;
}

/* information */

.details .information h6{
    width: 90px;
    height: 19px;
    text-align: left;
    font: normal normal normal 16px/24px Roboto;
    letter-spacing: 0px;
    color: #F97D00;
    opacity: 1;
}

.details .information span{
    width: 159px;
    height: 13px;
    text-align: left;
    font: normal normal normal 11px/24px Roboto;
    letter-spacing: 0px;
    color: #999999;
    opacity: 1;
}

.details .information table th{
    padding: .55rem;
    width: 17px;
    height: 13px;
    text-align: left;
    font: normal normal normal 11px/24px Roboto;
    letter-spacing: 0px;
    color: #999999;
    opacity: 1;
}


.details .information table td{
    padding: .55rem;
    width: 25px;
    height: 13px;
    text-align: left;
    font: normal normal normal 11px/24px Roboto;
    letter-spacing: 0px;
    color: #F97D00;
    opacity: 1;
}

/* code salesman */
.details .code-salesman {
    margin-top: 10%;
    margin-bottom: 5%;
}

.details .code-salesman h6{
    width: 146px;
    height: 19px;
    text-align: left;
    font: normal normal bold 16px/19px Roboto;
    letter-spacing: 0px;
    color: #58595B;
    opacity: 1;
}


.details .code-salesman span{
    width: 286px;
    height: 16px;
    text-align: left;
    font: normal normal 300 14px/16px Roboto;
    letter-spacing: -0.35px;
    color: #58595B;
    opacity: 1;
}

/* protection */


.details .protection h6{
    width: 73px;
    height: 19px;
    text-align: left;
    font: normal normal bold 16px/19px Roboto;
    letter-spacing: 0px;
    color: #58595B;
    opacity: 1;
}

.details .protection p{
    height: 34px;
    text-align: left;
    font: normal normal 300 14px/16px Roboto;
    letter-spacing: -0.35px;
    color: #58595B;
    opacity: 1;
}
/* complete */

.details .complete{
    margin-bottom: 5%;
    padding: 2%;
    background: #F4F4F4 0% 0% no-repeat padding-box;
    border-radius: 3px;
    opacity: 1;
}

.details .complete a {
    width: 75px;
    height: 14px;
    text-align: left;
    text-decoration: underline;
    font: normal normal normal 12px/21px Roboto;
    letter-spacing: 0px;
    color: #F97D00;
    opacity: 1;
}

/* services */

.details .services {
    margin-bottom: 5%;
    border-bottom: 1px solid #DCDCDC;
    opacity: 1;
}

.details .services h6{
    width: 140px;
    height: 19px;
    text-align: left;
    font: normal normal bold 16px/19px Roboto;
    letter-spacing: 0px;
    color: #58595B;
    opacity: 1;
}
.details .services p{
    height: 17px;
    text-align: left;
    font: normal normal 300 14px/16px Roboto;
    letter-spacing: 0px;
    color: #58595B;
    opacity: 1;
}

/* accessories */

.details .accessories {
    margin-bottom: 5%;
    border-bottom: 1px solid #DCDCDC;
}

.details .accessories h6{
    width: 137px;
    height: 19px;
    text-align: left;
    font: normal normal bold 16px/19px Roboto;
    letter-spacing: 0px;
    color: #58595B;
    opacity: 1;
}

.details .accessories p{
    height: 17px;
    text-align: left;
    font: normal normal 300 14px/16px Roboto;
    letter-spacing: 0px;
    color: #58595B;
    opacity: 1;
}