.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: .75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: transparent !important;
    border-radius: .25rem;
}

.breadcrumb-item a {
    color: #999999;
}

.breadcrumb-item.active a {
    color: #F97D00;
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
    height: 40px;
}

.card .card-header h5{
    text-align: left;
    font: normal normal bold 16px/24px Roboto;
    letter-spacing: 0px;
    color: #1D1C19;
    opacity: 1;
}

.card .card-header .nav .nav-item .nav-link.active{
    color: #F97D00;
    text-decoration: underline;
    margin-top: -9px;
}

/* filter */
.filter {
    border: none;
}

.filter .card-header{
    background-color: transparent;
    border-bottom: 0px solid rgba(0,0,0,.125);
}

.filter i{
    color: #F97D00;
}

.filter strong{
    text-align: left;
    font: normal normal bold 14px/16px Roboto;
    letter-spacing: 0px;
    color: #1D1C19;
    opacity: 1;
}

.filter .over{
    margin-top: 5%;
    border: 1px solid rgba(0,0,0,.125);
    padding: 5%;
    overflow-y: scroll;
}

/* filter media */
.filter .media {
    width: 67px;
    height: 67px;
    float: left;
    margin-left: 5%;
    margin: 2%;
    border: 1px solid rgba(0,0,0,.125); 
}


.filter .media .logo {
    width: 67px;
    
}

.filter .media .brand {
    width: 67px;
    
}

.filter .media .amount {
    width: 67px;
    
}

.details .title-page {
    text-align: left;
    font: normal normal medium 28px/33px Roboto;
    letter-spacing: 0px;
    color: #1D1C19;
    opacity: 1;
}

.details .subtitle-page {
    text-align: left;
    font: normal normal 300 17px/20px Roboto;
    letter-spacing: 0px;
    color: #58595B;
    opacity: 1;
}

/* slider */


.details .slider .carousel-control-prev{
    top: 108px;
    width: 24px;
    height: 36px;
    background: transparent url('/assets/Grupo 18555.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.details .slider .carousel-control-next{
    top: 108px;
    width: 24px;
    height: 36px;
    background: transparent url('/assets/Grupo 18556.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.details .slider span{
    width: 113px;
    height: 14px;
    text-align: left;
    font: normal normal normal 12px/24px Roboto;
    letter-spacing: 0px;
    color: #999999;
    opacity: 1;
    margin-bottom: 5%;
}

.details .slider .small div{
    position: relative;
    width: 105px;
    height: 79px;
}

.details .slider .small img{
    width: 89px;
    height: 66px;
}

/* information */

.details .information h6{
    width: 90px;
    height: 19px;
    text-align: left;
    font: normal normal normal 16px/24px Roboto;
    letter-spacing: 0px;
    color: #F97D00;
    opacity: 1;
}

.details .information span{
    width: 159px;
    height: 13px;
    text-align: left;
    font: normal normal normal 11px/24px Roboto;
    letter-spacing: 0px;
    color: #999999;
    opacity: 1;
}

.details .information table th{
    padding: .55rem;
    width: 17px;
    height: 13px;
    text-align: left;
    font: normal normal normal 11px/24px Roboto;
    letter-spacing: 0px;
    color: #999999;
    opacity: 1;
}

.details .information table td{
    padding: .55rem;
    width: 25px;
    height: 13px;
    text-align: left;
    font: normal normal normal 11px/24px Roboto;
    letter-spacing: 0px;
    color: #F97D00;
    opacity: 1;
}

/* code salesman */
.details .code-salesman {
    margin-top: 10%;
    margin-bottom: 5%;
}

.details .code-salesman h6{
    width: 146px;
    height: 19px;
    text-align: left;
    font: normal normal bold 16px/19px Roboto;
    letter-spacing: 0px;
    color: #58595B;
    opacity: 1;
}


.details .code-salesman span{
    width: 286px;
    height: 16px;
    text-align: left;
    font: normal normal 300 14px/16px Roboto;
    letter-spacing: -0.35px;
    color: #58595B;
    opacity: 1;
}

/* protection */

.details .protection {
    margin-bottom: 5%;
}

.details .protection h6{
    width: 73px;
    height: 19px;
    text-align: left;
    font: normal normal bold 16px/19px Roboto;
    letter-spacing: 0px;
    color: #58595B;
    opacity: 1;
}

.details .protection p{
    width: 655px;
    height: 34px;
    text-align: left;
    font: normal normal 300 14px/16px Roboto;
    letter-spacing: -0.35px;
    color: #58595B;
    opacity: 1;
}


/* services */

.details .services {
    margin-bottom: 5%;
}

.details .services h6{
    width: 140px;
    height: 19px;
    text-align: left;
    font: normal normal bold 16px/19px Roboto;
    letter-spacing: 0px;
    color: #58595B;
    opacity: 1;
}
.details .services p{
    width: 382px;
    height: 17px;
    text-align: left;
    font: normal normal 300 14px/16px Roboto;
    letter-spacing: 0px;
    color: #58595B;
    opacity: 1;
}

/* accessories */

.details .accessories {
    margin-bottom: 5%;
}

.details .accessories h6{
    width: 137px;
    height: 19px;
    text-align: left;
    font: normal normal bold 16px/19px Roboto;
    letter-spacing: 0px;
    color: #58595B;
    opacity: 1;
}

.details .accessories p{
    width: 510px;
    height: 17px;
    text-align: left;
    font: normal normal 300 14px/16px Roboto;
    letter-spacing: 0px;
    color: #58595B;
    opacity: 1;
}