<div class="container">

    <app-carousel [Data]="data"></app-carousel>

    <div class="row">
        <div class="d-md-flex px-5 justify-content-around bd-highlight col-md-12 pt-5 pb-5 mb-4">
            <div class="p-2 flex-fill bd-highlight mb-3 mb-md-0" *ngFor="let item of sectionOne; let i = index">
                <h6 class="places text-center">{{item.title}}</h6>
                <img src="{{item.src}}" width="80" class="rounded mx-auto d-block" alt="...">
            </div>
        </div>
    </div>

    <nav aria-label="breadcrumb ">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Início </li>
            <li class="breadcrumb-item" aria-current="page">Aa</li>
            <li class="breadcrumb-item" aria-current="page">zZ</li>
        </ol>
    </nav>

    <div class="row">
        <div class="d-md-flex px-5 justify-content-around bd-highlight col-md-12 pb-5 mb-3">
            <div class="row">
                <div class="p-2 ml-2 justify-content-around  bd-highlight mb-3 mb-md-0" *ngFor="let item of produtcs; let i = index">
                    <app-image-card [data]="item"></app-image-card>
                </div>
            </div>
        </div>
    </div>

</div>