<div class="container">
    <div class="row">
        <div class="col mt-2">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page"><a href="#">Volta para home</a></li>
                    <li class="breadcrumb-item"><a href="#">Resultado da busca</a></li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="col">
        <div class="row">
            <div class="col-lg-4">
                <div class="card text-center">
                    <div class="card-header">
                        <h5 class="pull-left">Filtros</h5>
                        <ul class="nav pull-right">
                            <li class="nav-item">
                                <a class="nav-link active" href="#">Limpar tudo</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">

                        <div id="accordion">
                            <!-- accord-001 -->
                            <div class="card filter">
                                <div class="card-header" id="headingOne">
                                    <div data-toggle="collapse" data-target="#collapseOne" aria-expanded="false"
                                        aria-controls="collapseOne">
                                        <i class="fa fa-map-marker fa-2x pull-left"></i>
                                        <strong>Localização</strong>
                                        <i class="fa fa-angle-up fa-2x pull-right"></i>
                                    </div>
                                </div>
                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                    data-parent="#accordion">
                                    <div class="card-body">
                                        <input type="text" class="form-control" placeholder="Digite o estado ou cidade">
                                    </div>
                                </div>
                            </div>
                            <!-- accord-001 -->
                            <!-- accord-002 -->
                            <div class="card filter">
                                <div class="card-header" id="headingTwo">
                                    <div data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                                        aria-controls="collapseTwo">
                                        <i class="fa fa-home fa-2x pull-left"></i>
                                        <strong>Loja para retirada</strong>
                                        <i class="fa fa-angle-up fa-2x pull-right"></i>
                                    </div>
                                </div>
                                <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo"
                                    data-parent="#accordion">
                                    <div class="card-body">
                                        <input type="text" class="form-control" placeholder="Digite o estado ou cidade">
                                        <div class="over">
                                            <div class="input-group">
                                                <label for=""><input type="checkbox" name="" id=""> SÃO
                                                    PAULO(10)</label>
                                            </div>
                                            <div class="input-group">
                                                <label for=""><input type="checkbox" name="" id=""> SÃO
                                                    PAULO(10)</label>
                                            </div>
                                            <div class="input-group">
                                                <label for=""><input type="checkbox" name="" id=""> SÃO
                                                    PAULO(10)</label>
                                            </div>
                                            <div class="input-group">
                                                <label for=""><input type="checkbox" name="" id=""> SÃO
                                                    PAULO(10)</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- accord-002 -->
                            <!-- accord-003 -->
                            <div class="card filter">
                                <div class="card-header" id="headingThree">
                                    <div data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                        <i class="fa fa-car fa-2x pull-left"></i>
                                        <strong>Marca do carro</strong>
                                        <i class="fa fa-angle-up fa-2x pull-right"></i>
                                    </div>
                                </div>
                                <div id="collapseThree" class="collapse show" aria-labelledby="headingThree"
                                    data-parent="#accordion">
                                    <div class="card-body">
                                        <div class="media">
                                            <span class="icon-logo"></span>
                                            <span class="title">marca</span>
                                            <span class="count">(10)</span>
                                        </div>
                                        <div class="media">
                                            <span class="icon-logo"></span>
                                            <span class="title">marca</span>
                                            <span class="count">(10)</span>
                                        </div>
                                        <div class="media">
                                            <span class="icon-logo"></span>
                                            <span class="title">marca</span>
                                            <span class="count">(10)</span>
                                        </div>
                                        <div class="media">
                                            <span class="icon-logo"></span>
                                            <span class="title">marca</span>
                                            <span class="count">(10)</span>
                                        </div>
                                        <div class="media">
                                            <span class="icon-logo"></span><br>
                                            <span class="title">marca</span><br>
                                            <span class="count">(10)</span>
                                        </div>
                                        <div class="media">
                                            <span class="icon-logo"></span>
                                            <span class="title">marca</span>
                                            <span class="count">(10)</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- accord-003 -->
                            <!-- accord-004 -->
                            <div class="card filter">
                                <div class="card-header" id="headingTwo">
                                    <div data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                                        aria-controls="collapseTwo">
                                        <i class="fa fa-home fa-2x pull-left"></i>
                                        <strong>Prazo de entrega</strong>
                                        <i class="fa fa-angle-up fa-2x pull-right"></i>
                                    </div>
                                </div>
                                <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo"
                                    data-parent="#accordion">
                                    <div class="card-body">
                                        <div class="input-group">
                                            <label for=""><input type="checkbox" name="" id=""> SÃO
                                                PAULO(10)</label>
                                        </div>
                                        <div class="input-group">
                                            <label for=""><input type="checkbox" name="" id=""> SÃO
                                                PAULO(10)</label>
                                        </div>
                                        <div class="input-group">
                                            <label for=""><input type="checkbox" name="" id=""> SÃO
                                                PAULO(10)</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- accord-004 -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <h4>Escolha seu veículo</h4>
                        <p>Foram encontrado <strong>18 veículos</strong></p>
                    </div>
                    <div class="row vehicles">
                        <div class="col-4">
                            <div class="card active">
                                <img class="card-img-top" src="../../../assets/img/veiculos/HB20 Hatch.png" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Hyundai HB20</h5>
                                     <div class="card-subtitle">Comfort1.0 Flex 5p Manual</div>
                                    
                                    <div class="card-info">Plano 24 meses</div>
                                    <div class="card-info">Franquia 1.000 km</div>

                                    <div class="card-money">
                                        <div class="pre-text">A partir de </div>
                                        <div class="value"> R$ 899,00 <span class="pos-text">/mês*</span></div>
                                    </div>

                                    <div class="card-text">* Nos 3 primeiros meses e R$ 1.099,99 do 4o ao 24o mês</div>
                                    <a href="#" class="btn btn-primary">Eu quero</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="card">
                                <img class="card-img-top" src="../../../assets/img/veiculos/HB20 Hatch.png" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Hyundai HB20</h5>
                                    <div class="card-subtitle">Comfort1.0 Flex 5p Manual</div>
                                    
                                    <div class="card-info">Plano 24 meses</div>
                                    <div class="card-info">Franquia 1.000 km</div>

                                    <div class="card-money">
                                        <div class="pre-text">A partir de </div>
                                        <div class="value"> R$ 899,00 <span class="pos-text">/mês*</span></div>
                                    </div>

                                    <div class="card-text">* Nos 3 primeiros meses e R$ 1.099,99 do 4o ao 24o mês</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="card">
                                <img class="card-img-top" src="../../../assets/img/veiculos/HB20 Hatch.png" alt="Card image cap">
                                <div class="card-body">
                                     <h5 class="card-title">Hyundai HB20</h5>
                                     <div class="card-subtitle">Comfort1.0 Flex 5p Manual</div>
                                    
                                    <div class="card-info">Plano 24 meses</div>
                                    <div class="card-info">Franquia 1.000 km</div>

                                    <div class="card-money">
                                        <div class="pre-text">A partir de </div>
                                        <div class="value"> R$ 899,00 <span class="pos-text">/mês*</span></div>
                                    </div>

                                    <div class="card-text">* Nos 3 primeiros meses e R$ 1.099,99 do 4o ao 24o mês</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="card">
                                <img class="card-img-top" src="../../../assets/img/veiculos/HB20 Hatch.png" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Hyundai HB20</h5>
                                     <div class="card-subtitle">Comfort1.0 Flex 5p Manual</div>
                                    
                                    <div class="card-info">Plano 24 meses</div>
                                    <div class="card-info">Franquia 1.000 km</div>

                                    <div class="card-money">
                                        <div class="pre-text">A partir de </div>
                                        <div class="value"> R$ 899,00 <span class="pos-text">/mês*</span></div>
                                    </div>
                                    <div class="card-text">* Nos 3 primeiros meses e R$ 1.099,99 do 4o ao 24o mês</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="card">
                                <img class="card-img-top" src="../../../assets/img/veiculos/HB20 Hatch.png" alt="Card image cap">
                                <div class="card-body">
                                     <h5 class="card-title">Hyundai HB20</h5>
                                     <div class="card-subtitle">Comfort1.0 Flex 5p Manual</div>
                                    
                                    <div class="card-info">Plano 24 meses</div>
                                    <div class="card-info">Franquia 1.000 km</div>

                                    <div class="card-money">
                                        <div class="pre-text">A partir de </div>
                                        <div class="value"> R$ 899,00 <span class="pos-text">/mês*</span></div>
                                    </div>

                                    <div class="card-text">* Nos 3 primeiros meses e R$ 1.099,99 do 4o ao 24o mês</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="card">
                                <img class="card-img-top" src="../../../assets/img/veiculos/HB20 Hatch.png" alt="Card image cap">
                                <div class="card-body">
                                     <h5 class="card-title">Hyundai HB20</h5>
                                     <div class="card-subtitle">Comfort1.0 Flex 5p Manual</div>
                                    
                                    <div class="card-info">Plano 24 meses</div>
                                    <div class="card-info">Franquia 1.000 km</div>

                                    <div class="card-money">
                                        <div class="pre-text">A partir de </div>
                                        <div class="value"> R$ 899,00 <span class="pos-text">/mês*</span></div>
                                    </div>

                                    <div class="card-text">* Nos 3 primeiros meses e R$ 1.099,99 do 4o ao 24o mês</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>